html,body,div,span,applet,object,iframe,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;display:block;}*{margin:0;padding:0;}html{display:block;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:&#39;&#39;;content:none;}table{border-collapse:collapse;border-spacing:0;}
#navbar-iframe{height:0;visibility:hidden;display:none;}
body {background:#f6f6f6;font:14px/22px 'Montserrat', sans-serif;color:#424242;transition:all 0.31s ease 0s;}
a:link {color:#ddbe5c;overflow: hidden !important;text-decoration:none;}
a:visited {color:#ddbe5c;text-decoration:none;}
a:hover {transition:all 0.31s ease 0s;text-decoration:underline;}
img {max-width:100%;vertical-align:middle;border:0;height:auto;}
a img {border-width:0;}
a img:hover {filter:saturate(250%);}
.quickedit {display:none;}
.clear {clear:both;}
*/
--></style>
<style id="template-skin-1" type="text/css"><!--
body#layout ul {display: none;}
body#layout .main.section {float:left;width:740px;}
body#layout #sidebar {float:right;width:300px;height:100%;}
body#layout #wrapper {width:1080px;}
--></style>
<style type="text/css">
#contentwrapper {background: #f6f6f6 none repeat scroll 0 0; margin: 0 auto 50px; max-width: 1080px; padding: 15px; width: auto;}
#wrapper {background: #f6f6f6 none repeat scroll 0 0;margin: 0 auto; max-width: 1080px; overflow: hidden; width: 100%;}
#header-wrapper {margin: 0 auto; overflow: hidden; text-align: center; width: 100%;}
#header-inner {background: #f6f6f6 none repeat scroll 0 0; padding: 80px 0 40px;}
#header-inner img {filter: none; max-height: 100px; width: auto;}
.main.section {float: left; max-width: 740px; width: 100%;}
#sidebar {color: #515151; float: right; text-align: center; font: 13px/1.6 "Droid Serif",serif; max-width: 300px; width: 100%;}
#sidebar h2 {background: #161616 none repeat scroll 0 0;color: #fff; font: 700 11px "Montserrat",sans-serif; letter-spacing: 2px; margin: 0 0 25px; padding: 13px 0; text-transform: uppercase; text-align: center;}
#sidebar h2::after {border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #161616; content: ""; display: block; height: 0; left: 50%; margin: 0 0 0 -5px; position: relative; top: 18px; width: 0; z-index: 10;}
#sidebar h4 {color: #0a0a0a; font: 700 14px "Montserrat",sans-serif; margin: 10px 0;}
#sidebar li {list-style: outside none none; min-height: 21px; text-align: left;}
#sidebar-widget .widget-content {margin: 0 0 50px;}
footer h2 {color: #6a6a6a; font: 700 11px "Montserrat",sans-serif; letter-spacing: 2px; margin: 0 0 10px; text-transform: uppercase;}
#footer-wrapper {text-align: center; width: 100%; clear: both;}
.about-me {background: #fff none repeat scroll 0 0; border-radius: 1px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.02); padding: 0 0 15px;}
.about-me img {margin: 0 0 5px;width: 100%;}
.Label li {background: #fff none repeat scroll 0 0; margin: 0 0 1px; padding: 5px 0;}
.Label ul li:nth-child(1), .Label ul li:nth-child(7) {border-left: 3px solid #ca85ca !important;}
.Label ul li:nth-child(1) span, .Label ul li:nth-child(7) span {background: #ca85ca none repeat scroll 0 0;}
.Label ul li:nth-child(1):hover, .Label ul li:nth-child(7):hover {background: #ca85ca none repeat scroll 0 0 !important; transition: all 0.31s ease 0s;}
.Label ul li:nth-child(2), .Label ul li:nth-child(8) {border-left: 3px solid #cf4d35 !important;}
.Label ul li:nth-child(2) span, .Label ul li:nth-child(8) span {background: #cf4d35 none repeat scroll 0 0;}
.Label ul li:nth-child(2):hover, .Label ul li:nth-child(8):hover {background: #cf4d35 none repeat scroll 0 0 !important; transition: all 0.31s ease 0s;}
.Label ul li:nth-child(3), .Label ul li:nth-child(9) {border-left: 3px solid #61c436 !important;}
.Label ul li:nth-child(3) span, .Label ul li:nth-child(9) span {background: #61c436 none repeat scroll 0 0;}
.Label ul li:nth-child(3):hover, .Label ul li:nth-child(9):hover {background: #61c436 none repeat scroll 0 0 !important; transition: all 0.31s ease 0s;}
.Label ul li:nth-child(4), .Label ul li:nth-child(10) {border-left: 3px solid #f4b23f !important;}
.Label ul li:nth-child(4) span, .Label ul li:nth-child(10) span {background: #f4b23f none repeat scroll 0 0;}
.Label ul li:nth-child(4):hover, .Label ul li:nth-child(10):hover {background: #f4b23f none repeat scroll 0 0 !important; transition: all 0.31s ease 0s;}
.Label ul li:nth-child(5), .Label ul li:nth-child(11) {border-left: 3px solid #46c49c !important;}
.Label ul li:nth-child(5) span, .Label ul li:nth-child(11) span {background: #46c49c none repeat scroll 0 0;}
.Label ul li:nth-child(5):hover, .Label ul li:nth-child(11):hover {background: #46c49c none repeat scroll 0 0 !important; transition: all 0.31s ease 0s;}
.Label ul li:nth-child(6), .Label ul li:nth-child(12) {border-left: 3px solid #607ec7 !important;}
.Label ul li:nth-child(6) span, .Label ul li:nth-child(12) span {background: #607ec7 none repeat scroll 0 0;}
.Label ul li:nth-child(6):hover, .Label ul li:nth-child(12):hover {background: #607ec7 none repeat scroll 0 0 !important; transition: all 0.31s ease 0s;}
.Label a {color: #333; font: 700 11px "Montserrat",sans-serif; letter-spacing: 1px; padding: 5px 90px 5px 20px; text-transform: uppercase;}
.Label a:hover {color: #fff; text-decoration: none;}
.list-label-widget-content span {background: #ddd none repeat scroll 0 0; color: #fff; float: right; font: 400 11px/25px "Montserrat",sans-serif; margin: -2px 3px 0 0; min-width: 20px; padding: 0 5px; text-align: center; text-transform: uppercase;}
#top-bar {background: #161616 none repeat scroll 0 0; height: 42px; line-height: 42px; position: fixed; text-transform: uppercase; width: 100%; z-index: 100;}
#top-bar-menu {margin: 0 auto; max-width: 1110px; width: 100%;}
#menu ul, #menu li {float: left; list-style: outside none none; margin: 0; padding: 0;}
#menu li a, #menu li a:link, #menu li a:visited {color: #fff; display: block; font: 400 11px 'Montserrat', sans-serif; letter-spacing: 1px; padding: 13px 15px;}
#menu li a:hover, #menu li a:active {color: #999; text-decoration: none; transition: all 0.31s ease 0s;}
#menu li li a, #menu li li a:link, #menu li li a:visited {background: #161616 none repeat scroll 0 0; border-top: 1px solid #262626; color: #999; font: 400 10px 'Montserrat', sans-serif; letter-spacing: 1px; margin: 0; padding: 6px 10px; width: 170px;}
#menu li li a:hover, #menu li li a:active {background: #262626 none repeat scroll 0 0; color: #fff; padding: 6px 10px;}
#menu li ul {bottom: -31px; height: 33px; left: -999em; margin: 0; padding: 0; position: absolute; width: 170px; z-index: 9999;}
#menu li ul a {width: 140px;}
#menu li ul ul {margin: -22px 0 0 190px;}
#menu li:hover ul ul, #menu li:hover ul ul ul, #menu li.sfhover ul ul, #menu li.sfhover ul ul ul {left: -1013em;}
#menu li:hover ul, #menu li li:hover ul, #menu li li li:hover ul, #menu li.sfhover ul, #menu li li.sfhover ul, #menu li li li.sfhover ul {left: auto;}
#menu span::after {color: #999; content: "\f107"; font-family: FontAwesome; font-size: 13px;}
#menu li:hover, #menu li.sfhover {position: static;}
#menuku {margin: 0 0 -49px; position: relative;}
#top-social {float: right; padding: 0 15px;}
#top-social li {float: left; height: 40px; line-height: 40px; list-style: outside none none;}
#top-social li a {color: #fff;}
#top-social li a:hover {text-decoration: none;}
#cssmenu input {background: #262626 none repeat scroll 0 0; border: medium none; font: italic 400 14px "Lora",serif; border-radius: 2px; color: #999; padding: 9px 10px; width: 230px;}
.fa.fa-facebook, .fa.fa-twitter, .fa.fa-instagram, .fa.fa-pinterest, .fa.fa-google-plus, .fa.fa-rss {transition: all 0.31s ease 0s;}
.fa.fa-facebook {padding: 14px 16px 12px;}
.fa.fa-facebook:hover {color: #3b5998;}
.fa.fa-twitter {padding: 14px 12px 12px 13px;}
.fa.fa-twitter:hover {color: #00d1f7;}
.fa.fa-instagram {padding: 14px 13px 12px;}
.fa.fa-instagram:hover {color: #125688;}
.fa.fa-google-plus {padding: 14px 12px 12px 13px;}
.fa.fa-google-plus:hover {color: #df4b38;}
.fa.fa-pinterest { padding: 14px 13px 12px;}
.fa.fa-pinterest:hover {color: #ab171e;}
.fa.fa-rss {padding: 14px 14px 12px 13px;}
.fa.fa-rss:hover {color: #fb8f3d;}
.post-title.entry-title {color: #1f2123; font: 700 31px "Montserrat",sans-serif; letter-spacing: -1px; text-align: center;}
.post-title.entry-title a {color: #1f2123;}
.top-label {color: #ddbe5c; font: 400 11px "Montserrat",sans-serif; letter-spacing: 1px; margin: 0 0 5px; text-align: center; text-transform: uppercase;}
.post-labels a {color: #ddbe5c;}
.top-vcard {color: #444; font: 12px "Montserrat",sans-serif; margin: 15px 0 25px; text-align: center;}
.fn span {margin: 0 10px 0 0; color: #8a8a8a;}
abbr {color: #8a8a8a; text-decoration: none;}
.separator img {margin: 0 0 -20px;}
.separator a {margin: 0 !important;}
.post-body.entry-content {color: #191919; font: 14px/1.8 "Droid Serif",serif;}
.post-body.entry-content ul {list-style: outside none square; margin: 0 40px;}
.post-body.entry-content ol {margin: 0 40px;}
.jump-link a {color: transparent; font: 400 11px "Montserrat",sans-serif; height: 260px; margin: -274px 0 0; position: absolute; text-align: center; width: 273px;}
.title-divider {border-top: 3px solid #ddbe5c; margin: 5px auto; max-width: 50px;}
h2 {color: #0a0a0a; font: 700 27px "Montserrat",sans-serif;}
h3 {color: #0a0a0a; font: 700 21px "Montserrat",sans-serif;}
h4 {color: #0a0a0a; font: 700 17px "Montserrat",sans-serif;}
blockquote {color: #3a3b3c; font: italic 17px/1.4 "Lora",serif; margin: 0; padding: 0 0 0 23px;}
blockquote::before {color: #444; content: "\f10d"; font: bold 17px FontAwesome; margin: 0 0 0 -24px; position: absolute;}
blockquote::after {color: #444; content: "\f10e"; font: bold 17px FontAwesome; margin: 5px 0 0 7px; position: absolute;}
.blogger-iframe-colorize.blogger-comment-from-post {height: 230px;}
.comments .comments-content a, .user {color: #555; font: 700 12px "Montserrat",sans-serif; letter-spacing: 1px; text-transform: uppercase;}
.comments h2, .comments h3, .comments h4 {color:#0a0a0a; font: 700 11px "Montserrat",sans-serif; letter-spacing: 2px; margin: 50px 0 10px; text-align: center; text-transform: uppercase;}
.comments .comments-content .comment {list-style: outside none none; border-bottom: 1px dotted #eee; border-top: 1px dotted #eee; margin: -1px 0;}
.datetime a {color: #b8b8b8 !important; float: right; font: 11px "Montserrat",sans-serif!important; letter-spacing: 0!important; text-transform: none!important;}
.comments .comment .comment-actions a {background: #4d90f0 none repeat scroll 0 0; border: 1px solid #3079ed; border-radius: 2px; color: #fff; font: bold 11px arial !important; letter-spacing: 0; margin: 0 0 0 2px; padding: 3px 5px; text-align: center; text-shadow: 0 1px rgba(0, 0, 0, 0.1); text-transform: none;}
.comment-actions a:hover {background: #357ae8 none repeat scroll 0 0 !important; text-decoration: none; transition: all 0.31s ease 0s;}
.comments .comment .avatar-image-container, .comments .comment .avatar-image-container img {border: medium none; border-radius: 50%; float: left; margin: 17px 0 0; max-height: none; max-width: none; outline: medium none; padding: 0;}
.comments .comment .comment-block {margin: 0 0 0 45px !important; padding: 27px 0 30px;}
.comments .comment .comment-thread.inline-thread ol {list-style: outside none none;}
.comments .comment .comment-thread.inline-thread {margin: 0 0 0 45px;}
.comments .comment .comment-thread.inline-thread .comment .comment-block {margin: 0 0 0 45px !important;}
.comments .comment .comment-content {color: #515151; font: 13px/1.6 "Droid Serif",serif; text-align: left;}
.avatar-image-container img {background: url(https://2.bp.blogspot.com/-rfCme6vFut4/Vwl0jZDXMHI/AAAAAAAAAU4/ZMNWz9oOQUwSJ97_wXwLTHvqLZ4yzB2OA/s1600/secret_2-0_update_app_icon.png) no-repeat; width: 35px; height: 35px;}
.datetime.secondary-text {margin: 0 0 0 5px;}
.thread-count, .loadmore.loaded, .continue, .feed-links {display: none;}
.comment-content {margin: 0 0 5px;}
.comment-actions.secondary-text {float: right;}
.post-footer-line.post-footer-line-1, .post-footer-line.post-footer-line-2 {display: none;}
.about-author {color: #0a0a0a; font: 700 11px "Montserrat",sans-serif; letter-spacing: 2px; margin: 50px 0 10px; text-align: center; text-transform: uppercase;}
.author-profile img {border-radius: 50%; float: left; margin: 0 15px 0 0; width: 100px;}
.author-profile {min-height: 100px;}
.author-profile span {color: #7a7a7a; font: 14px/1.8 "Droid Serif",serif; padding: 0;}
.signature {text-align: right;}
.signature span {color: #ddbe5c; font: 26px "Mr Dafoe",cursive !important;}
#search_box {height: 40px; position: relative; width: 200px;}
#search_box #search {border: medium none; display: none; float: right; position: absolute; right: 39px; top: 0;}
#search_box #search #search_text {background: #262626 none repeat scroll 0 0; border: medium none; color: #999; float: left; font: italic 400 14px "Lora",serif; height: 40px; margin: 0; padding: 0 10px; transition: all 0.31s ease 0s; width: 160px;}
#search_box #search #search_text:focus {color: #fff;}
#search_box .search_button {color: #fff; cursor: pointer; display: inline-block; float: right; height: 40px; padding: 0 12px 0 13px; text-align: center;}
#search_box .search_button:hover, #search_box .search_button.active {color: #999;}
.container {background: #161616 none repeat scroll 0 0; margin: -6px 0 0;}
#footer-social {color: #999; font: 400 10px "Montserrat",sans-serif; letter-spacing: 1px; margin: 0 auto; max-width: 1080px; padding: 30px 0; text-transform: uppercase; width: 100%;}
#footer-social a:hover {color: #ddbe5c; text-decoration: none;}
#footer-social a {color: #fff; margin: 0 20px;padding: 20px 10px;}
#footer-copyright {border-top: 1px solid #313131; color: #999; font: italic 400 11px/1.4 "Droid Serif",serif; margin: 0 auto; max-width: 1080px; padding: 30px 0; width: 100%;}
#footer-copyright a:hover {color: #fff; text-decoration: none;}
#footer-copyright a {color: #999;}
.lighter,.lighter *{transition:all 0.31s ease 0s}
.lighter{position:fixed; top:0; bottom:0; left:0; right:0; z-index:400000; opacity:1}
.lighter.fade{opacity:0}
.lighter.fade .lighter-container{transform:scale(0.5)}
.lighter img{width:100%; height:100%}
.lighter .lighter-overlay{background:rgba(0,0,0,0.5); height:100%; width:100%}
.lighter .lighter-container{background:white; position:absolute; z-index:400000; top:50%; left:50%; right:50%; bottom:50%; box-shadow:0 2px 8px rgba(0,0,0,0.5)}
.lighter .lighter-container .lighter-close{top: 0; right: 0; width: 30px; height: 30px; margin: -15px; line-height: 30px; font-size: 16pt; font-family: Helvetica,Arial,serif;}
.lighter .lighter-container .lighter-next{display:none; right:40px; top:50%; width:40px; height:40px; margin:-20px 0; line-height:34px; font-size:32pt; font-family:Times,serif}
.lighter .lighter-container .lighter-prev{display:none; left:40px; top:50%; width:40px; height:40px; margin:-20px; line-height:24pt; font-size:34px; font-family:Times,serif}
.lighter .lighter-container .lighter-next,.lighter .lighter-container .lighter-prev,.lighter .lighter-container .lighter-close{cursor:pointer; position:absolute; z-index:800000; text-align:center; border-radius:40px; color:rgba(255,255,255,0.8); background:rgba(255,0,0,0.6);}
.lighter .lighter-container .lighter-next:hover,.lighter .lighter-container .lighter-prev:hover,.lighter .lighter-container .lighter-close:hover{color:white; text-decoration: none; background:rgba(255,0,0,0.9)}
.lighter .lighter-container .lighter-next:active,.lighter .lighter-container .lighter-prev:active,.lighter .lighter-container .lighter-close:active{color:white; background:rgba(0,0,0,0.6)}
.status-msg-body {background: #161616 none repeat scroll 0 0; color: #fff; font: italic 400 14px "Lora",serif; padding: 11px 0 10px; text-align: center;}
.status-msg-body::after {border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #161616; content: ""; display: block; height: 0; left: 50%; margin: 0 0 0 -5px; position: relative; top: 15px; width: 0; z-index: 10;}
.status-msg-border {display: none;}
a.home-link {display: none;}
.blog-pager {margin: 20px 0 50px;}
.blog-pager-newer-link {float: left; font: 400 10px "Montserrat",sans-serif; letter-spacing: 1px; padding: 2px 0; text-transform: uppercase;}
.blog-pager-older-link {float: right; font: 400 10px "Montserrat",sans-serif; letter-spacing: 1px; padding: 2px 0; text-transform: uppercase;}
.menu {background: #262626 none repeat scroll 0 0; color: #fff; cursor: pointer; display: none; float: left; left: 1px; padding: 0 12px; position: absolute; text-align: center; z-index: 100;}
.menu:hover {color: #999; transition: all 0.31s ease-in-out 0s;}
.leftsearch {background: #262626 none repeat scroll 0 0; border-left: 1px solid #161616; float: right; margin: 0 0 0 12px; padding: 0 12px;}
#css-menu {box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); height: 100%; left: -260px; position: fixed; top: 0; transition: all 0.31s ease-in-out 0s; z-index: 9999;}
#cssmenu, #cssmenu ul, #cssmenu li, #cssmenu a {background: #060606 none repeat scroll 0 0; list-style: outside none none; margin: 0; position: relative;}
#cssmenu a {padding: 13px 15px 13px 30px;}
#cssmenu {height: 100%; overflow: auto; width: 260px;}
#cssmenu > ul > li {cursor: pointer;}
#cssmenu > ul > li:first-child {border-top: medium none;}
#cssmenu > ul > li:last-child {}
#cssmenu > ul > li:last-child > a {}
#cssmenu > ul > li > a {border-bottom: 1px solid #161616; border-top: 1px solid #161616; color: #fff; display: block; font: 400 10px "Montserrat",sans-serif; letter-spacing: 1px; margin: 0 0 -1px; padding: 13px 15px;}
#cssmenu > ul > li > a:hover {background: #161616 none repeat scroll 0 0; text-decoration: none; transition: all 0.31s ease-in-out 0s;}
#cssmenu > ul > li.home .close-menu {background: #060606 none repeat scroll 0 0; color: #fff; display: block; padding: 0 15px; text-align: left;}
.close-menu:hover {background: #161616 none repeat scroll 0 0 !important; transition: all 0.31s ease-in-out 0s;}
#cssmenu > ul > li.has-sub > a::after {-moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: transparent transparent transparent #fff; border-image: none; border-style: solid; border-width: 7px; content: ""; position: absolute; right: 13px; top: 14px;}
#cssmenu > ul > li.has-sub.active > a::after {-moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: #fff transparent transparent; border-image: none; border-style: solid; border-width: 7px; right: 20px; top: 17px;}
#cssmenu ul ul {display: none; padding: 0;}
#cssmenu ul ul a {border-bottom: 1px solid #161616; border-top: 1px solid #161616; color: #fff; display: block; font: 400 10px "Montserrat",sans-serif; letter-spacing: 1px; margin: 0 0 -1px;}
#cssmenu ul ul a:hover {background: #161616 none repeat scroll 0 0; text-decoration: none; transition: all 0.31s ease-in-out 0s;}
#cssmenu ul ul li:last-child {border: medium none;}
img.recent_thumb {float: left;height: 75px;margin: 0 10px 0 0;object-fit: cover;width: 100px;}
ul.recent_posts_with_thumbs li {background: #fff none repeat scroll 0 0; border-radius: 1px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.02); margin: 1px 0; overflow: hidden; padding: 5px 10px 5px 5px;}
.recent_posts_with_thumbs a {color: #0a0a0a; font: 700 14px 'Montserrat', sans-serif;}
.clearfix i {display: none;}
.at-posts {color: #8a8a8a; font: italic 400 11px/1.4 "Droid Serif",serif; margin: 5px 0 0;}
.featured-area.section {margin: 0 auto; max-width: 1110px; width: 100%;}
#FeaturedPost1 .title {background: #ddbe5c none repeat scroll 0 0; color: #fff; font: 700 11px "Montserrat",sans-serif; letter-spacing: 1px; min-width: 110px; padding: 5px 10px; position: absolute; text-align: center; text-transform: uppercase; z-index: 10;}
.post-summary {background: #fff none repeat scroll 0 0; border-radius: 1px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.02); padding: 0 0 1.5%;}
.continue_reading {font: 400 11px "Montserrat",sans-serif; letter-spacing: 1px; margin: 0 0 30px; text-align: center; text-transform: uppercase;}
.continue_reading a {background: #eee none repeat scroll 0 0; color: #222; padding: 10px 20px;}
.continue_reading a:hover {background: #ddbe5c none repeat scroll 0 0; color: #fff; text-decoration: none;}
.post-summary h3 {font: 700 31px "Montserrat",sans-serif; letter-spacing: -1px; margin: 0 0 20px; padding: 0 2.1%; text-align: center;}
.post-summary h3 a {color: #101010;}
#FeaturedPost1 .image {margin: 0 0 20px;}
.post-summary p {color: #191919; font: 14px/1.8 "Droid Serif",serif; margin: 0 0 30px 0; padding: 0 2.1%;}
#share {text-align: center;}
#share h3 {color: #0a0a0a; font: 700 11px "Montserrat",sans-serif; letter-spacing: 2px; margin: 50px 0 10px; text-align: center; text-transform: uppercase;}
.comment-counter {color: #fff !important; font: 9px "Montserrat",sans-serif !important; margin: -5px 0 0; position: absolute; text-align: left;}
#PopularPosts1 {margin: 0 0 25px;}
#PopularPosts1 ul li::after {color: gold; content: '\f005\f005'; display: inline-block; font-family: fontawesome; font-size: 13px; padding: 0; text-align: center; transition: all 0.3s ease 0s;}
#PopularPosts1 ul li:nth-child(1)::after {content: '\f005\f005\f005\f005\f005'; font-family: fontawesome;}
#PopularPosts1 ul li:nth-child(2)::after {content: '\f006\f005\f005\f005\f005'; font-family: fontawesome; opacity: 0.9;}
#PopularPosts1 ul li:nth-child(3)::after {content: '\f006\f006\f005\f005\f005'; font-family: fontawesome; opacity: 0.85;}
#PopularPosts1 ul li:nth-child(4)::after {content: '\f006\f006\f006\f005\f005'; font-family: fontawesome; opacity: 0.8;}
#PopularPosts1 ul li:nth-child(5)::after {content: '\f006\f006\f006\f006\f005'; font-family: fontawesome; opacity: 0.75;}
#PopularPosts1 ul li:hover::after {opacity: 1;}
#PopularPosts1 ul li:first-child {border-top: medium none;}
#PopularPosts1 ul li:last-child {border-bottom: medium none;}
#PopularPosts1 h2 {color: #101010; display:none; font: 700 17px "Montserrat",sans-serif; letter-spacing: 1.6px; margin: 40px 0 10px; text-align: center; text-transform: uppercase;}
#PopularPosts1 ul {margin: 0; padding: 0;}
#PopularPosts1 ul li {background: #fff none repeat scroll 0 0; border-radius: 1px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.02); float: left; list-style: outside none none !important; margin: 1.36%; min-height: 277px; padding: 0 0 10px; text-align: center; width: 30.6%;}
#PopularPosts1 .item-thumbnail {box-sizing: border-box; margin: 0; max-height: 200px; overflow: hidden; width: 100%;}
#PopularPosts1 .item-title {font: 700 17px "Montserrat",sans-serif; letter-spacing: -1px; width: 100%;}
#PopularPosts1 img {height: auto; max-height: 250px; object-fit: cover; width: 100%;}
#PopularPosts1 .item-title a {color: #0a0a0a; display: block; padding: 10px 10px 0; text-align: center;}
#PopularPosts1 .item-content {position: relative;}
#PopularPosts1 .item-snippet {display: none;}
#PopularPosts2 ul {counter-reset: popularcount;padding: 0;}
#PopularPosts2 ul li:first-child{width: 100%;max-height: 100%;}
#PopularPosts2 ul li:nth-child(even){}
#PopularPosts2 ul li {box-sizing: border-box; position: relative; padding: 0px !important; width: 50%; overflow:hidden; float: left; transition: all 0.31s ease 0s;}
#PopularPosts2 ul li:hover {opacity: 1;}
#PopularPosts2 .item-thumbnail {margin: 0; width: 100%;}
#PopularPosts2 .item-thumbnail::after {border-radius: 50%; color: gold; content: counter(popularcount, decimal); counter-increment: popularcount; font: 700 24px/30px "Montserrat",sans-serif; height: 30px; left: 2px; list-style-type: none; position: absolute; text-align: center; top: 2px; width: 30px; z-index: 4;}
#PopularPosts2 ul li img {box-sizing: border-box; width: 100%; height: 100%; object-fit: cover; padding:0;}
#PopularPosts2 .item-content:hover .item-title a,
#PopularPosts2 .item-thumbnail-only:hover .item-title a {background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0; visibility: visible; opacity: 1;}
#PopularPosts2 .item-title a {bottom: 0; color: #fff; font: 700 14px "Montserrat",sans-serif; left: 0; opacity: 0; padding: 10px; position: absolute; right: 0; text-align: center; visibility: hidden;}
#PopularPosts2 .item-snippet {display: none;}
.flexslider.loading:after {content: ''; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: url(https://2.bp.blogspot.com/-hZfCxM5xphw/Vwf7dtp5nRI/AAAAAAAAARM/e9fDuqyrjfMgEdvvR_A_aZptVcMjnQs_g/s1600/ajax-loader%25281%2529.gif) no-repeat center center; z-index: 9999;}
.flex-direction-nav a, .flex-direction-nav a::before {color: rgba(0, 0, 0, 0.8); text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);}
.flex-container a:hover, .flex-slider a:hover {outline: 0 none;}
.flex-control-nav, .flex-direction-nav, .slides, .slides > li {list-style: outside none none; margin: 0; padding: 0;}
.flexslider {padding: 0; position: relative;}
.flexslider .slides::after {clear: both; content: " "; display: block; height: 0; line-height: 0; visibility: hidden;}
.flex-viewport {max-height: 2000px; transition: all 1s ease 0s;}
.loading .flex-viewport {max-height: 300px;}
.flex-direction-nav a {cursor: pointer; display: block; height: 40px; margin: -20px 0 0; opacity: 0; overflow: hidden; position: absolute; text-decoration: none; top: 50%; transition: all 0.3s ease-in-out 0s; width: 40px; z-index: 10;}
.flex-direction-nav a::before {content: "\f104"; display: inline-block; font-family: FontAwesome; font-size: 40px;}
.flex-direction-nav a.flex-next::before {content: "\f105";}
.flex-direction-nav .flex-prev {left: -50px;}
.flex-direction-nav .flex-next {right: -50px; text-align: right;}
.flexslider:hover .flex-direction-nav .flex-prev {left: 10px; opacity: 0.7;}
.flexslider:hover .flex-direction-nav .flex-prev:hover {opacity: 1;}
.flexslider:hover .flex-direction-nav .flex-next {opacity: 0.7; right: 10px;}
.flexslider:hover .flex-direction-nav .flex-next:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {cursor: default; opacity: 0 !important; z-index: -1;}
.flex-control-nav {position: absolute; text-align: center; bottom: 0; width: 100%; z-index: 10;}
.flex-control-nav li {display: inline-block; margin: 0 6px;}
.flex-control-paging li a {background: transparent; border-radius: 50%; cursor: pointer; display: block; height: 12px; text-indent: -9999px; width: 12px; border: 1px solid gold;}
.flex-control-paging li a:hover {background: gold; border: 1px solid gold;}
.flex-control-paging li a.flex-active {background: gold; cursor: default; border: 1px solid gold;}
.flexslider.loading ul.flex-direction-nav, .flexslider.loading ol, .loading .flex-caption {display: none;}
.flexslider {border: medium none !important; margin: 0 auto 1.36% !important;}
.flexslider a {text-decoration: none;}
.flex-caption {bottom: 0; color: #fff; font: 700 32px "Montserrat",sans-serif; letter-spacing: -2px; padding: 0 0 30px; position: absolute; text-align: center; width: 100%;}
.flex-caption span {text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);}
.flex-caption span:hover {text-decoration: underline;}
ul.slides li a {display: block; overflow: hidden;}
.flexslider ul {line-height: initial !important; margin: 0 !important; padding: 0 !important;}
.flexslider ul.flex-direction-nav li {line-height: initial; margin: 0; padding: 0;}
.flexslider ul li {margin-bottom: 0 !important;}
.flexslider img {border: medium none; box-shadow: none; padding: 0;}
ul.flex-direction-nav {position: static;}
ul.flex-direction-nav li {position: static;}
.related-post {float: left; padding: 1.35%; text-align: center; width: 30.63%;}
.related-post a {color: #0a0a0a; font: bold 17px "Montserrat",sans-serif; letter-spacing: -1px; width: 30.63%;}
.related-post .post-thumbnail {margin: 0 0 10px; max-height: 157px; object-fit: cover;}
#related-posts h3 {color: #0a0a0a; font: 700 11px "Montserrat",sans-serif; letter-spacing: 2px; margin: 50px 0 0; text-align: center; text-transform: uppercase;}
.varThemestoTop {background-color: rgba(0,0,0,0.4); border-radius: 1px; bottom: 5px; color: #fff !important; display: none; font-size: 30px; padding: 0 6px; position: fixed; right: 5px;}
.varThemestoTop:hover {text-decoration: none; background: #ddbe5c;}
iframe {width: 100%;}
@media (max-width:600px) {
#PopularPosts1 ul li {min-height: auto;}
#PopularPosts1 .item-title {display: none;}
.flex-control-nav.flex-control-paging a {height: 5px; width: 5px;}
.flex-caption {font-size: 20px; line-height: 24px;}
ul.flex-direction-nav, #footer-social {display: none;}
}
@media (max-width:768px) {
.main.section {float:none;}
#sidebar {float: none; margin: 0 auto;max-width: 400px;}
}
@media only screen and (min-width: 942px) and (max-width: 1170px) {
.main.section {max-width: 670px;}
  }
@media (max-width: 860px) {
.flex-direction-nav .flex-prev {left: 10px; opacity: 1;}
.flex-direction-nav .flex-next {opacity: 1; right: 10px;}
}
@media (max-width:980px) {
#menu {display: none;}
.menu {display: block !important;}
#top-social {padding: 0 1px;}
#search_box, .item-title a {display: none;}
}
</style>
<style type="text/css">
.top-label, .post-title.entry-title, .top-vcard, .post-footer {display:none;}
.post-outer {background: #fff none repeat scroll 0 0; border-radius: 1px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.02); float: left; margin: 0.5%; min-height: 590px; width: 49% ;}
.post-image { margin: 0 0 4%; max-height: 260px; object-fit: cover;}
.top-label-home {color: #ddbe5c; font: 400 11px "Montserrat",sans-serif; letter-spacing: 1px; text-align: left; margin: 0 0 5px; padding: 0 4.3%; text-transform: uppercase;}
.post-title.entry-title-home {font: 700 24px "Montserrat",sans-serif; letter-spacing: -1px; padding: 0 4.3%; text-align: left;}
.post-title.entry-title-home a {color: #1f2123;}
.snippets {margin: 4% 0 0; padding: 0 4.3%;}
.top-vcard-home {color: #8a8a8a; font: 12px "Montserrat",sans-serif; padding: 4.3% 0 4.3% 4.3%; text-align: left;}
.post-author-vcard-home img {border-radius: 50%; margin: 0 5px 0 0; width: 35px;}
@media (max-width:600px) {
.post-outer {background: #fff none repeat scroll 0 0; border-radius: 1px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.02); float: none !important; min-height: auto; margin: 4% auto !important; max-width: 400px; width: 100% !important;}
.post-summary h3, .post-summary p {padding: 0 3.5%;}
.post-title.entry-title-home {font-size: 17px !important; line-height: normal !important; min-height: auto !important;}
.top-vcard-home {margin: 10px 0 !important;}
}