
body
{
overflow-x:hidden;
}

#slider11{
	width:482px;
	top:40px;
	position:fixed;
}
   
#slider11 #header{ 
	width:372px;
	height:720px;
	position:absolute; 
	right:0px; 
	//border:1px solid #d8d8d8;
	//margin-left:40px;
	padding:5px;
	border-radius:3px;
	background:#fff;
}


#slider11 #sidebar13{
position: absolute;
top: 180px;
left: 58px;
box-shadow: 0 0 8px gray;
//transform: rotate(-270deg);
background: #fff;
padding: 15px 10px;
border-radius: 7px;
}

#slider11 #sidebar12{
	position: absolute;
top: 180px;
left: 58px;
box-shadow: 0 0 8px gray;
//transform: rotate(-270deg);
background: #fff;
padding: 15px 10px;
border-radius: 7px;
}


#slider11 h3{
	font-family: 'Roboto Slab', serif;
}

#slider11 input[type=text]{ 
	margin-top: 10px;
	padding:6px;
	width:100%;
	font-size:15px;
	border-radius:2px;
	border:3px solid #98d0f1;
}

#slider11 h4{
	font-size:15px;
}
#slider11 div#title{
	position:absolute;
	top:300px;
	left:650px;
	}
	
#slider11 select{
	padding:6px;
	width:100%;
	font-size:15px;
	border-radius:2px;
	border:3px solid #98d0f1;
}

#slider11 textarea{
	padding:6px;
	font-size:15px;
	border-radius:2px;
	border:3px solid #98d0f1;
	margin-top: 10px;
	height:80px;
	width:100%;
}	

#slider11 button{
	background:#2bc1f2;
	border: none;
	color: #fff;
	width: 100%;
	font-size: 22px;
	font-weight: bolder;
	padding: 8px 0 8px 0;
	border-radius: 3px;
	cursor: pointer;
	margin-top:25px;
}
/*--------------------------------------
		Advertisement div
----------------------------------------*/
#slider11 .formget{
	width:300px;
	margin-top: 65px;
	margin-left: 57px;
	float: left;
	}
